/.idea/.gitignore
/out/production/CollectionPractices/META-INF/CollectionPractices.kotlin_module
/.idea/encodings.xml
/out/production/CollectionPractices/Generics_Task4/Football_League.class
/out/production/CollectionPractices/Generics_Task4/League_1.class
/out/production/CollectionPractices/Generics_Task4/League_2.class
/out/production/CollectionPractices/Generics_Task4/Main.class
/.idea/misc.xml
/.idea/uiDesigner.xml
/.idea/vcs.xml
